@page
@model ClubLedger.Pages.Contacts.IndexModel
@{
    ViewData["Title"] = "Contacts";
}

<div class="container p-3">
    <div class="row pt-4"></div>
    <div class="col-6">
        <h2 class="text-primary">Contact List</h2>
    </div>
    <div class="col-6">

    </div>
</div>
<p>
    <a asp-page="Create">Create New</a>
</p>
<br /><br />

<table>
    <thead>
        <tr>
            <th>
                Contact Name
            </th>
            <th>
                Contact Type ID
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.Contacts)
        {
            <tr>
                <td width="30%">
                    @Html.DisplayFor(modelItem => obj.ContactName)
                </td>
                <td width="30%">
                    @Html.DisplayFor(modelItem => obj.ContactTypeID)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@obj.ContactID">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@obj.ContactID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>